:root{
  --main-blue: rgb(0, 71, 133);
  --second-blue: #002244;
  --bg-color: rgba( 255, 255, 255, 0.5);
  --background-color: #7CB9E8;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--background-color);
  transition: .2s;
  /*background-image: linear-gradient(62deg, #9ecaf7, #71acb3);*/
}

 .page-header {
    background: var(--bg-color);
    box-shadow: 0 0 0 3px rgba(10, 70, 130, 0.100);
    backdrop-filter: blur( 17.5px );
   -webkit-backdrop-filter: blur( 17.5px );
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    padding: 1.3rem;
  }

  .icons-hightitle {
    display: flex;
  }

  .icons-hightitle {
    justify-content: space-between;
  }

  .hightitle {
    text-decoration: underline;
    font-family: "Playfair Display", serif;
    font-weight: 500;
    font-size: 1.6rem;
    color: var(--second-blue);
    cursor: grab;
    margin: 0px 50px 0px 50px;
  }

  .nav-bar {
    display: flex;
    justify-content: center;
    gap: 2rem;
  }

  .nav-bar a {
    margin-top: 40px;
    text-decoration: none;
    font-family: 'Playfair Display', serif;
    font-size: 1.5rem;
    color: var(--main-blue);
    cursor: grab;
    transition: all .5s cubic-bezier(.23,1,.32,1);
  }

  .nav-bar a:hover {
    color: rgb(0, 0, 0);
    transform: scale(1);
  }

  .nav-bar a::before {
    content: "";
    position: absolute;
    bottom: -10px;
    background: linear-gradient(45deg, rgb(3, 72, 133), #087ee6, rgb(83, 165, 236));
    height: 3px;
    left: 0;
    width: 0%;
    border-radius: 50px;
    transition: all .5s cubic-bezier(.23,1,.32,1);
  }
  
  .nav-bar a:hover::before {
    width: 100%;
  }
   
  .menu-icon {
    display: none;
  }

  @media screen and (max-width: 768px) {
    .nav-bar {
      display: none;
      position: absolute;
      top: 9rem;
      left: 40px;
      width: 90%;
      background: var(--bg-color);
      box-shadow: 0 0 0 3px rgba(10, 70, 130, 0.100);
      border-radius: 10px;
      border: 1px solid rgba( 255, 255, 255, 0.18 );
      text-align: center;
    }

    .nav-bar a::before {
      left: 40%;
    }

    .nav-bar a:hover::before {
      width: 20%;
      height: 3px;
    }

    .nav-bar .responsive {
      display: block;
    }

    .nav-bar a {
      display: block;
    }

    .menu-icon {
      display: inline-block;
      z-index: 1;
      font-size: 1.3rem;
      cursor: grab;
    }
    
    .logo {
      font-size: 1.4rem;
    }
  }
  






  

.toggle {
  cursor: pointer;
  position: relative;
  display: flex;
  justify-content: space-between;
  width: 100px;
  height: 40px;
  border-radius: 50px;
  transition: .2s;
}

.toggle i {
  width: 50%;
  line-height: 60px;
  text-align: center;
  font-size: 20px;
  z-index: 1;
}

.toggle .ball {
  position: absolute;
  width: 25px;
  height: 25px;
  margin-top: 17px;  
  margin-left: 12px;
  border-radius: 50%;
  transition: .3s ease-out;
}

input {
  display: none;
}

.light {
  background: var(--background-color);
}

.light .toggle {
  background: linear-gradient(145deg, #e1e1e1, #fff);
}

.light .toggle .bxs-sun {
  color: #fafafa;
}

.light .toggle .bx-moon {
  color: #151d2a;
}

.light .toggle .ball {
  background: #151d2a;
}

.dark {
  background: #080e2f;
}

.dark .toggle {
  background: #151d2a;
}

.dark .toggle .bx-sun {
  color: #fafafa;
}

.dark .toggle .bxs-moon {
  color: #151d2a;
}

.dark .toggle .ball {
  background: #fafafa;
  transform: translateX(60px);
}
