:root{
  --main-blue: rgb(0, 71, 133);
  --second-blue: #002244;
  --bg-color: rgba( 255, 255, 255, 0.5);

}
.darkmode{
  --white-base-variant: #b8bbc7;
  --black-base-variant: #101425;
  --primary-color: #3a435d;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #7CB9E8;
  /*background-image: linear-gradient(62deg, #9ecaf7, #71acb3);*/
}

 .page-header {
    background: var(--bg-color);
    box-shadow: 0 0 0 3px rgba(10, 70, 130, 0.100);
    backdrop-filter: blur( 17.5px );
   -webkit-backdrop-filter: blur( 17.5px );
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    padding: 1.3rem;
  }

  .icons-hightitle {
    display: flex;
  }

  .icons-hightitle {
    justify-content: space-between;
  }

  .hightitle {
    text-decoration: underline;
    font-family: "Playfair Display", serif;
    font-weight: 500;
    font-size: 1.6rem;
    color: var(--second-blue);
    cursor: grab;
    margin: 0px 50px 0px 50px;
  }

  .nav-bar {
    display: flex;
    justify-content: center;
    gap: 2rem;
  }

  .nav-bar a {
    margin-top: 40px;
    text-decoration: none;
    font-family: 'Playfair Display', serif;
    font-size: 1.5rem;
    color: var(--main-blue);
    cursor: grab;
    transition: all .5s cubic-bezier(.23,1,.32,1);
  }

  .nav-bar a:hover {
    color: rgb(0, 0, 0);
    transform: scale(1);
  }

  .nav-bar a::before {
    content: "";
    position: absolute;
    bottom: -10px;
    background: linear-gradient(45deg, rgb(3, 72, 133), #087ee6, rgb(83, 165, 236));
    height: 3px;
    left: 0;
    width: 0%;
    border-radius: 50px;
    transition: all .5s cubic-bezier(.23,1,.32,1);
  }
  
  .nav-bar a:hover::before {
    width: 100%;
  }
   
  .menu-icon {
    visibility: visible;
    font-size: 0;
  }

  @media screen and (max-width: 768px) {
    .nav-bar {
      display: none;
      position: absolute;
      top: 9rem;
      left: 40px;
      width: 90%;
      background: var(--bg-color);
      box-shadow: 0 0 0 3px rgba(10, 70, 130, 0.100);
      border-radius: 10px;
      border: 1px solid rgba( 255, 255, 255, 0.18 );
      text-align: center;
    }

    .nav-bar a::before {
      left: 40%;
    }

    .nav-bar a:hover::before {
      width: 20%;
      height: 3px;
    }

    .nav-bar .responsive {
      display: block;
    }

    .nav-bar a {
      display: block;
    }

    .menu-icon {
      display: inline-block;
      z-index: 1;
      font-size: 1.3rem;
      cursor: grab;
    }
    
    .logo {
      font-size: 1.4rem;
    }
  }
  


#theme-switch{
  height: 50px;
  width: 50px;
  padding: 0;
  border-radius: 25%;
  background-color: var(--bg-color);
  top: 20px;
  right: 20px;
}
#theme-switch i{
  fill: var(--primary-color);
}
#theme-switch i:last-child{
  display: none;
}
.darkmode #theme-switch i:first-child{
  display: none;
}
.darkmode #theme-switch i:last-child{
  display: block;
}
  





/*black color : #080e2f;    white color : background: var(--background-color);*/
